<h1>Login Form</h1>


<form action="/login" method="post">
  <input type="text" name="username" placeholder="username">
  <input type="text" name="password" placeholder="Password">
  <button> Login </button>
</form>


<li><a href="/login">login!</a></li>
<li><a href="/register">Sign up!</a></li>
<li><a href="/logout">Logout!</a></li>